{
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "jsx": true
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "typescript",
    "react",
    "react-native",
    "prettier"
  ],
  "extends": ["plugin:prettier/recommended", "eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/no-did-mount-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/jsx-uses-vars": 2,
    "react/prop-types": 0,
    "react/jsx-no-bind": 2,
    "react/jsx-no-duplicate-props": 2,
    "semi": [2, "never"],
    "no-unused-vars": 0,
    "no-undef": 0,
    "no-debugger": 0
  },
  "globals": {
    "GLOBAL": false,
    "it": false,
    "expect": false,
    "describe": false
   }
}